@import url('https://fonts.googleapis.com/css2?family=Acme&family=Lobster&family=Manrope:wght@200;800&family=Noto+Serif:ital@1&family=Poppins:wght@500&display=swap');
:root{
    --white-color:#ffff;
    --main-color:rgb(60, 5, 133);
    --main-color2:rgb(100, 15, 211);
}
body{
    padding: 0;
    margin: 0;
   
}
header{
    background-color: var(--main-color);
    padding: 5px;
    color: var(--white-color);
    font-size: 20px;
}   
ul{
    list-style-type: none;
    display: flex;
    justify-content: space-between;
}
ul li{
    display: flex;
}
form input{
    padding: 10px;
    margin-right: 20px;
    width: 500px;
    border-radius: 10px;
    outline: none;
    border: none;
}
li img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.one{
    width: 10%;
    padding: 10px 0;
}
.frm{
    width: 70%;
    margin: 0 auto;
    
}
.frm span{
    padding: 10px 0;
}
li{
    text-align: center;
}
.three{
    width: 10%;
}
.pp,.kategori{
    height: 50vh;
    background-color: rgba(190, 185, 201, 0.932);
    margin: 50px;
    padding: 20px ;
}
.pp>.profile{
    width: 30%;
    margin: 0 auto;
    text-align: center;
    background-color: white;
    box-shadow: 2px 2px 5px 2px grey;
    position: absolute;
    top:35%;
    left: 35%;
    padding: 40px 40px;
    font-family:'Noto Serif';
}
.pp img{
    position: relative;
    z-index: 2;
    left: 49%;
    width: 100px;
    text-align: center;
    border-radius: 50%;
}
.profile>.profile-deskripsi{
    background-color: var(--main-color2);
    border-radius: 10px;
    padding: 10px;
    display: grid;
    margin: 20px 0;
    grid-template-columns: repeat(3,1fr);
    color: #ffff;
}
i{
    font-size: 25px;
}
.kategori{
    padding: 30px 70px;
    font-family:'Acme';
    height: fit-content;
}
.kategori h2{
    text-align: center;
    color: black;
}
a{
    text-decoration: none;
}
.kategori>.sub-kategori{
    padding: 20px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-column-gap: 70px;
    height: 30vh;
}
.category{
    background-color: white;
    border-radius: 5px;
}
.category:hover{
    cursor: pointer;
    box-shadow: 1px 3px 0px 2px grey;
}
.category img{
    border-radius: 5px 5px 0 0;
    height: 20vh;
    width: 100%;
}
.category>.deskripsi{
    text-align: center;
    font-size: 20px;
}
.category>.deskripsi, .category>.footer-category{
    padding: 10px;
}
.category>.footer-category{
    color: gray;
    
}

#soal{
    z-index: 4;
}
.box-quest{
    position: absolute;
    top: 30%;
    height: fit-content;
    left: 30%;
    width: 40%;
    background-color: rgb(172, 167, 167)
}
.image-box img{
    width: 100%;
    height: 40vh;
}
.question-start{
    padding: 20px;
}
.question-start>.flex{
    display: flex;
    justify-content: space-between;
}
.profile-user img{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}
.example-question{
    background-color: beige;
    padding: 5px 0;
    margin: 7px 0;
}
.btn-start{
    text-align: center;
}
.btn-start button{
    background-color: var(--main-color);
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    border: none;
}
@media(max-width:768px){
    form input{
        width: 100px;
    }
    .frm,.fa{
        font-size: 15px;
    }
    li img{
        width: 30px;
        height: 30px;
      
    }
    .one{
        width: 20%;
      
    }
    .frm{
        width: 50%;
        margin: 0 auto;
        
    }
    .pp>.profile{
        width: 58%;
        left: 15%;
    }
    .pp img{
        left: 40%;
    }
    .kategori>.sub-kategori{
        grid-template-columns: 1fr;
        grid-row-gap: 50px;
    }
    .kategori{
        height: 120vh;
    }
}
